<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @manufacturer.url %>
</p>

<p>
  <strong>Wikipedia url:</strong>
  <%= @manufacturer.wikipedia_url %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
